<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dtls_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DjangoProject"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.dtls_android.AddLogActivity" />
        <activity
            android:name="com.example.dtls_android.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.DjangoProject.NoActionBar" />
        <activity android:name="com.example.dtls_android.RegisterActivity" />
        <activity android:name="com.example.dtls_android.LoginActivity" />
        <activity android:name="com.example.dtls_android.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>